@import "_normalize.scss";
@import "_variables.scss";

body {
  font-family: "Roboto", sans-serif;
  font-size: $base-fontsize;
  color: $white-color;

  .custom-btn {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 0.15rem 0.15rem 0.15rem 0rem $shadow-color, 0.45rem 0.5rem 1.2rem 0rem rgba(0, 0, 0, 0.1),
      0.25rem 0.25rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    outline: none;
    background: $base-color;
    border: none;
    z-index: 1;
    color: $white-color;
  }

  .custom-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.35rem;
    background-color: $white-color;
    background-image: linear-gradient(315deg, $white-color 0%, rgb(156, 246, 252) 75%);
    box-shadow: inset 0.15rem 0.15rem 0.15rem 0rem $shadow-color, 0.45rem 0.5rem 1.2rem 0rem rgba(0, 0, 0, 0.1),
      0.25rem 0.25rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .custom-btn:hover {
    color: #000;
  }
  .custom-btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .custom-btn:active {
    top: 0.15rem;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1;
    background: url(../src/img/1.jpg) no-repeat;
    background-size: 100%;
    min-height: 100vh;
    min-width: 100vw;

    .main__game {
      display: flex;
      flex-direction: column;
      flex: 1 1;

      .game {
        min-height: 90vh;
        min-width: 60vw;
      }

      .exercise {
        display: none;
        position: relative;
        top: 1rem;
        width: 5rem;
        height: 5rem;
        background: $base-color;
        border: 1px solid rgba(255, 255, 200, 0.4);
        border-radius: 50%;
        font-size: 1.5rem;

        .exercise__container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          padding: 1.5rem 0.2rem 0 0.2rem;
        }
      }

      .ocean {
        position: relative;
        bottom: 0;
        height: 5rem;
      }
    }

    .main__calc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0);
      padding: 1rem 1rem;

      .score {
        text-align: center;
        font-size: 2rem;
        background-color: $base-color;
        border-radius: 5rem;
      }

      .calc {
        height: 30rem;
        width: 20rem;
        background-color: $secondary-color;
        border-radius: 1.2rem;

        .calc__grid {
          padding: 1.3rem 0.7rem;
          display: grid;
          width: 100%;
          height: 100%;
          grid-template-rows: repeat(5, 1fr);
          grid-template-columns: repeat(4, 1fr);
          row-gap: 0.25rem;
          column-gap: 0.25rem;

          .btn {
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 0.8rem;
            border: none;
            color: $secondary-color;
            background-color: $white-color;
          }

          .display {
            color: $base-color;
            background-color: $white-color;
            grid-column-start: 1;
            grid-column-end: 5;
            text-align: right;
            font-size: 2.6rem;
            padding: 0.5rem 0.5rem;
          }

          .zero {
            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 1;
            grid-column-end: 3;
          }

          .clear {
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 5;
          }

          .result {
            grid-row-start: 4;
            grid-row-end: 6;
            grid-column-start: 4;
            grid-column-end: 5;
          }

          .delete {
            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 3;
            grid-column-end: 4;
          }
        }
      }
    }

    .menu {
      display: flex;
      justify-content: space-around;

      .btn-end {
        width: 5rem;
      }

      .btn-fullscreen {
        width: 9rem;
      }
    }
    .end {
      display: flex;
      position: absolute;
      top: 10vh;
      left: 30vw;
      width: 30vw;
      height: 65vh;
      border: 0.15rem solid $base-color;
      background: $secondary-color;

      .end__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        flex: 1 1 auto;

        .tutorial {
          width: 10rem;
        }

        .text-head {
          color: $white-color;
        }
        .end__score--text {
          display: none;
        }
        .audio {
          text-decoration: underline;
          cursor: pointer;
          user-select: none;
        }
      }
    }
  }
}
