@import "_normalize.scss";
@import "_variables.scss";

body {
  font-family: "Roboto", sans-serif;
  font-size: $base-fontsize;
  color: $white-color;
  user-select: none;

  .custom-btn {
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 0.15rem 0.15rem 0.15rem 0rem $shadow-color, 0.45rem 0.5rem 1.2rem 0rem rgba(0, 0, 0, 0.1),
      0.25rem 0.25rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    outline: none;
    background: $base-color;
    border: none;
    z-index: 1;
    color: $white-color;
  }

  .custom-btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.35rem;
    background-color: $white-color;
    background-image: linear-gradient(315deg, $white-color 0%, rgb(156, 246, 252) 75%);
    box-shadow: inset 0.15rem 0.15rem 0.15rem 0rem $shadow-color, 0.45rem 0.5rem 1.2rem 0rem rgba(0, 0, 0, 0.1),
      0.25rem 0.25rem 0.3rem 0rem rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .custom-btn:hover {
    color: #000;
  }

  .custom-btn:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }

  .custom-btn:active {
    top: 0.15rem;
  }

  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1;
    background-color: rgb(150, 150, 150);
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;

    .main__game {
      display: flex;
      flex-direction: column;
      flex: 1 1;

      .game {
        min-height: 100vh;
        min-width: 60vw;

        .ocean {
          display: none;
          position: absolute;
          bottom: 0;
          left: 0;
          overflow: hidden;
          width: 100%;

          .waves {
            position: relative;
            width: 100%;
            height: 15vh;
            margin-bottom: -7px;
            min-height: 100px;
            max-height: 150px;

            .parallax > use {
              animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
            }
            .parallax > use:nth-child(1) {
              animation-delay: -2s;
              animation-duration: 7s;
            }
            .parallax > use:nth-child(2) {
              animation-delay: -3s;
              animation-duration: 10s;
            }
            .parallax > use:nth-child(3) {
              animation-delay: -4s;
              animation-duration: 13s;
            }
            .parallax > use:nth-child(4) {
              animation-delay: -5s;
              animation-duration: 20s;
            }
            @keyframes move-forever {
              0% {
                transform: translate3d(-90px, 0, 0);
              }
              100% {
                transform: translate3d(85px, 0, 0);
              }
            }
          }
        }
      }

      .exercise {
        display: none;
        position: relative;
        top: 1rem;
        width: 5rem;
        height: 5rem;
        background: $base-color;
        border: 1px solid rgba(255, 255, 200, 0.4);
        border-radius: 50%;
        font-size: 1.5rem;

        .exercise__container {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          padding: 1.5rem 0.2rem 0 0.2rem;
        }
      }
    }

    .main__calc {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem 1rem;

      .score {
        text-align: center;
        font-size: 2rem;
        background-color: $base-color;
        border-radius: 5rem;
      }

      .calc {
        display: none;
        height: 30rem;
        width: 20rem;
        background-color: $secondary-color;
        border-radius: 1.2rem;
        transition: all 0.15s ease;

        .calc__grid {
          padding: 1.3rem 0.7rem;
          display: grid;
          width: 100%;
          height: 100%;
          grid-template-rows: repeat(5, 1fr);
          grid-template-columns: repeat(4, 1fr);
          row-gap: 0.25rem;
          column-gap: 0.25rem;

          .btn {
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 0.8rem;
            border: none;
            color: $secondary-color;
            background-color: $white-color;

            &:hover {
              font-size: 1.5rem;
              border-radius: 1.2rem;
              color: $base-color;
            }
          }

          .display {
            color: $base-color;
            background-color: $white-color;
            grid-column-start: 1;
            grid-column-end: 5;
            text-align: right;
            font-size: 2.6rem;
            padding: 0.5rem 0.5rem;
          }

          .zero {
            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 1;
            grid-column-end: 3;
          }

          .clear {
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 4;
            grid-column-end: 5;
          }

          .result {
            grid-row-start: 4;
            grid-row-end: 6;
            grid-column-start: 4;
            grid-column-end: 5;
          }

          .delete {
            grid-row-start: 5;
            grid-row-end: 6;
            grid-column-start: 3;
            grid-column-end: 4;

            &:hover {
              font-size: 1.2rem;
            }
          }
        }
      }
    }

    .menu {
      display: flex;
      justify-content: right;

      .btn-end {
        width: 5rem;
      }

      .btn-fullscreen {
        width: 9rem;
      }
    }
    .end {
      display: flex;
      position: absolute;
      top: 10vh;
      left: 30vw;
      width: 30vw;
      height: 65vh;
      border: 0.15rem solid $base-color;
      background: $secondary-color;

      .end__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        flex: 1 1 auto;

        .info-keyboard {
          display: none;
        }

        .tutorial {
          width: 10rem;
        }

        .text-head {
          color: $white-color;
        }
        .audio {
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  body {
    font-size: 1.4rem;
    .custom-btn {
      width: 4rem;
      height: 2rem;
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
      font-weight: 500;
    }
    .main {
      background: rgb(148, 148, 148);
      .main__game {
        .game {
          min-width: 30vw;
        }
        .exercise {
          top: 0.5rem;
          width: 3rem;
          height: 3rem;
          border: 0.8px solid rgba(255, 255, 200, 0.4);
          font-size: 0.9rem;
          
          .exercise__container {
            padding: 0.95rem 0.2rem 0 0.2rem;
          }
        }
        .ocean {
          height: 2rem;
        }
      }
      .main__calc {
        padding: 0.25rem 0.5rem 0.25rem 0;
        .score {
          font-size: 1.6rem;
        }
        .calc {
          height: 25rem;
          width: 16rem;
          border-radius: 0.7rem;
          .calc__grid {
            padding: 0.25rem;
            row-gap: 0.1rem;
            column-gap: 0.1rem;
            .btn {
              font-size: 0.9rem;
              font-weight: 700;
              &:hover {
                font-size: 0.9rem;
              }
            }
            .display {
              font-size: 1.8rem;
              padding: 0.25rem 0.25rem;
            }
            .delete {
              font-size: 0.7rem;
              &:hover {
                font-size: 1rem;
              }
            }
          }
        }
      }
      .menu {
        .btn-end {
          width: 4rem;
        }
        .btn-fullscreen {
          width: 7rem;
        }
      }
      .end {
        top: 12.5vh;
        left: 15vw;
        width: 50vw;
        height: 75vh;
        .end__container {
          padding: 0 0.2rem;
          .tutorial {
            width: 7rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.1rem;
    .custom-btn {
      width: 3.2rem;
      height: 1.8rem;
      font-size: 0.9rem;
      padding: 0.25rem 0.5rem;
      font-weight: 500;
    }
    .main {
      background: rgb(148, 148, 148);
      .main__game {
        .game {
          min-width: 30vw;
          .ocean {
            bottom: 0;
            height: 5rem;
            .waves {
              height: 5rem;
              min-height: 5rem;
            }
          }
        }
        .exercise {
          top: 0.5rem;
          width: 3rem;
          height: 3rem;
          border: 0.8px solid rgba(255, 255, 200, 0.4);
          font-size: 0.9rem;
          .exercise__container {
            padding: 0.95rem 0.2rem 0 0.2rem;
          }
        }
      }
      .main__calc {
        padding: 0.25rem 0.25rem 0.25rem 0;
        .score {
          font-size: 1.6rem;
        }
        .calc {
          height: 20rem;
          width: 12rem;
          border-radius: 0.5rem;
          .calc__grid {
            padding: 0.25rem;
            row-gap: 0.1rem;
            column-gap: 0.1rem;
            .btn {
              font-size: 0.9rem;
              font-weight: 700;
              &:hover {
                font-size: 0.9rem;
              }
            }
            .display {
              font-size: 1.8rem;
              padding: 0.25rem 0.25rem;
            }
            .delete {
              font-size: 0.7rem;
              &:hover {
                font-size: 0.7rem;
              }
            }
          }
        }
      }
      .menu {
        .btn-end {
          width: 3rem;
        }
        .btn-fullscreen {
          width: 5rem;
        }
      }
      .end {
        top: 20vh;
        left: 15vw;
        width: 70vw;
        height: 60vh;
        .end__container {
          padding: 0 0.2rem;
          .tutorial {
            width: 6rem;
          }
        }
      }
    }
  }
}
@media screen {
  body {
    .main {
      .end {
        .end__container {
          .info-keyboard {
            display: inline;
          }
        }
      }
    }
  }
}
